<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/estilos.css" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
	<title>Peliculas</title>
</head>
<body>
	<header>
		<div class="contenedor">
			<h2 class="logotipo">Sistema de Recomendación para peliculas</h2>
			<nav>
				<a href="#" class="activo">Inicio</a>
				<a href="/pelicula/Ant-Man">Recomendación</a>
			</nav>
		</div>
	</header>

	<main>
		<div class="pelicula-principal">
			<div class="contenedor">
				<h3 class="titulo">¿No sabes que ver?</h3>
				<p class="descripcion">
					Te recomendamos peliculas que posiblemente te gusten, gracias a nuestro algoritmo identificamos peliculas similares según su rating.
				</p>
				<a href="/pelicula/Ant-Man">
					<button role="button" class="boton"><i class="fas fa-play"></i>Probar</button>
				</a>
			</div>
		</div>
	</main>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>
</html>